<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>notes</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar__link" href="/">Home</a>
        <a class="navbar__link" href="/loginView/">login</a>
        <a class="navbar__link" href="/register/">register</a>
        <a class="navbar__link" href="/logoutView/">logout</a>
        {%if user.username %}
        <a class="navbar__link" href="/accounts/{{user.username}}">logged in as {{ user.username }}, click to go to your page</a> 
       <!-- <a class="navbar__link" href="/accounts/{{user.id}}">logged in as {{ user.username }}, click to go to your page</a> -->
        {%endif%}
    </nav>
<h1>notes</h1>

<div>
</div>
<div>
    <ul>
        {% for note in notes %}
          <li>{{note.id}} : {{ note.note | safe}}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <form action="/add/" method="post">
        <input type="text" name="note" value="Type your note here">
        
        <input type="checkbox" name="secret" value="secret">
        <label for="secret" >secret?</label>
        <input type="submit" value="Add Note">
    </form>
</div>
</body>
</html>

