<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar__link" href="/">Home</a>
      <a class="navbar__link" href="/loginView/">login</a>
      <a class="navbar__link" href="/register/">register</a>
      <a class="navbar__link" href="/logoutView/">logout</a>
  </nav>
    <h1>Registration</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/register/" method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br>
      <br>
      <label for="confirmPassword">Confirm Password:</label><br>
      <input type="password" id="confirmPassword" name="confirmPassword"><br>
      <br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
